{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-throw-expressions",
    "@babel/plugin-transform-runtime"
  ]
}
